<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupStaticAttributes="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="false"
         strict="true">
    <testsuites>
        <testsuite name="PHP Boilerplate">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="display_errors" value="Off" />
    </php>
</phpunit>